@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* background-color: var(--background-color); */
  color: var(--text-color);
  font-family: "Exo 2", serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  /* solid */
  --clr-0: rgb(255, 255, 255);
  --clr-1: rgb(248, 249, 250);
  --clr-2: rgb(233, 236, 239);
  --clr-3: rgb(222, 226, 230);
  --clr-4: rgb(206, 212, 218);
  --clr-5: rgb(173, 181, 189);
  --clr-6: rgb(108, 117, 125);
  --clr-7: rgb(73, 80, 87);
  --clr-8: rgb(52, 58, 64);
  --clr-9: rgb(33, 37, 41);
  --clr-10: rgb(22, 22, 29);
  --clr-11: rgb(7, 7, 7);
  --clr-12: rgb(0, 0, 0);
  --clr-14: rgba(0, 0, 0, 0);
  /* glass 0.5*/
  --clr-0-05: rgba(255, 255, 255, 0.5);
  --clr-1-05: rgba(248, 249, 250, 0.5);
  --clr-2-05: rgba(233, 236, 239, 0.5);
  --clr-3-05: rgba(222, 226, 230, 0.5);
  --clr-4-05: rgba(206, 212, 218, 0.5);
  --clr-5-05: rgba(173, 181, 189, 0.5);
  --clr-6-05: rgba(108, 117, 125, 0.5);
  --clr-7-05: rgba(73, 80, 87, 0.5);
  --clr-8-05: rgba(52, 58, 64, 0.5);
  --clr-9-05: rgba(33, 37, 41, 0.5);
  --clr-10-05: rgba(22, 22, 29, 0.5);
  --clr-11-05: rgba(7, 7, 7, 0.5);
  --clr-12-05: rgba(0, 0, 0, 0.5);
  /* glass 0.25*/
  --clr-0-025: rgba(255, 255, 255, 0.25);
  --clr-1-025: rgba(248, 249, 250, 0.25);
  --clr-2-025: rgba(233, 236, 239, 0.25);
  --clr-3-025: rgba(222, 226, 230, 0.25);
  --clr-4-025: rgba(206, 212, 218, 0.25);
  --clr-5-025: rgba(173, 181, 189, 0.25);
  --clr-6-025: rgba(108, 117, 125, 0.25);
  --clr-7-025: rgba(73, 80, 87, 0.25);
  --clr-8-025: rgba(52, 58, 64, 0.25);
  --clr-9-025: rgba(33, 37, 41, 0.25);
  --clr-10-025: rgba(22, 22, 29, 0.25);
  --clr-11-025: rgba(7, 7, 7, 0.25);
  --clr-12-025: rgba(0, 0, 0, 0.25);
  /*fonts*/
  --fnt1: rgba(255, 145, 0, 1);
  --fnt2: rgba(247, 143, 8, 1);
  --fnt3: rgba(255, 132, 0, 1);
  --fnt4: rgba(255, 117, 26, 1);
  --fnt5: rgba(204, 112, 0, 1);
  --fnt6: rgba(196, 98, 28, 1);
  --fnt7: rgba(89, 89, 89, 1);
  --fnt8: rgba(247, 247, 247, 1);

  /* light theme */
  --background-color: var(--clr-0);
  --background-color2: var(--clr-10);
  --text-color: var(--clr-blue);
  --text-color2: var(--clr-11);
  --text-color3: var(--fnt4);
  --text-color4: var(--clr-0);
  --text-hoover: var(--fnt7);
  --background: var(--clr-blue-1);
  --line: var(--clr-blue-1);
  --line2: var(--fnt0-m);
  color: var(--clr-10);
}
[data-theme="dark"] {
  --background-color: var(--clr-11);
  --background-color2: var(--clr-0);
  --text-color: var(--fnt4);
  --text-color2: var(--clr-0);
  --text-color3: var(--clr-blue);
  --text-color4: var(--clr-11);
  --text-hoover: var(--fnt7);
  --background: var(--fnt0-m);
  --line: var(--fnt0-m);
  --line2: var(--clr-blue-1);
  color: var(--clr-0);
}

.header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header-logo {
  width: 35px;
} */

.menu-btn {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--clr-10-05);
  color: var(--clr-0);
  border: none;
  padding: 14px 17.6px;
  cursor: pointer;
  z-index: 101;
  font-size: 21px;
}
.menu-btn.active {
  background-color: var(--clr-14);
}
.side-menu {
  position: fixed;
  top: 0;
  left: -30vw;
  width: 30vw;
  max-width: 400px;
  height: 100%;
  background-color: var(--clr-10-05);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 100;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}
.side-menu.open {
  left: 0;
}
.side-menu a {
  color: var(--clr-0);
  padding: 18px 30px;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 1px solid #333;
  transition: background-color 0.2s;
}
.side-menu a:hover {
  background-color: #444;
}
.menu-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--clr-10-05);
  z-index: 99;
}
.menu-bg.active {
  display: block;
}

/* @media (max-width: 600px) {
      .side-menu {
        width: 80vw;
        max-width: none;
      }
    } */

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}
.carousel img.active {
  display: block;
  opacity: 1;
}
.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.controls button {
  background-color: var(--clr-12-025);
  border: none;
  color: var(--clr-0);
  padding: 10px 13.3px 15px 13.3px;
  cursor: pointer;
  font-size: 70px;
}

.footer {
  bottom: 0;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
